*{
    padding: 0;
    margin:0;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex input {
    margin-left: 20px;
}

.flex p {
    margin-left: 20px;
}

.flex button {
    padding: 2px 8px;
    color:black;
    border-radius: 20px;
    margin-left: 20px;
    border:1px solid #000;
}

.is-complete {
    text-decoration: line-through;
}